$dark: #263238;
$text: #b7c3c8;
$nickname-color: #546e7a;
$green: #8bc34a;
$red: #e74c3c;
$gray: #90a4ae;
$products-bg: #f4f6f5;
$brd-gray: #e7ecf2;
$dots-color: #e8e8e8;
$text: #b0bec5;
$tut-itemBg: #f8f8f8;
$copy: #919699;
$footer-line: #424d53;
$input-dark: #2f3c43;
$input-plh: #697378;
