@import "_fonts";
@import "_vars";
@import "_global";

.header {
  &__top {
    background-color: #fff;
  }
  &__top-inner {
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    margin-left: auto;
    margin-right: 27px;
    color: $nickname-color;
    font-size: 15px;
    line-height: 24px;
    span {
      font-size: 15px;
      line-height: 24px;
      color: $red;
    }
  }

  &__btns {
    margin-left: 26px;
    display: flex;
    justify-content: center;
  }
  &__btn {
    width: 72px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    &-green {
      background-color: $green;
    }
    &-red {
      background-color: $red;
      margin-left: 7px;
    }
  }
  &__menu {
    background-color: $dark;
  }
}

.menu {
  &__list {
    height: 60px;
    width: 890px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto-Medium";
    font-size: 14px;
    line-height: 30px;
    color: #fff;
  }
}
// -----------------------------------------end header------------------------------------
// -----------------------------------------start search------------------------------------
.search {
  padding: 140px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  line-height: 30px;
  min-height: 532px;
  &__inner {
    text-align: center;
    &-title {
      color: #fff;
      padding: 5px 0;
      font-size: 48px;
    }
    &-text {
      font-family: "Roboto-Medium";
      font-size: 20px;
    }

    &-form {
      input {
        position: relative;
        min-width: 670px;
        height: 56px;
        background-color: #fff;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        border-radius: 4px;
        border: none;
        padding: 0 60px 0 25px;
        &::placeholder {
          font-family: "Roboto-Medium";
          letter-spacing: 0.05em;
          line-height: 56px;
          font-size: 14px;
          color: $gray;
        }
      }
      button {
        border: none;
        background-color: inherit;
        width: 56px;
        height: 56px;
        position: absolute;
        right: 297px;
        img {
          padding-top: 2px;
        }
      }
    }
  }
}
//--------------------------------------end search----------------------------------------------
.products {
  background-color: $products-bg;
  padding-top: 120px;
}

.products__inner {
  &-buttons {
    text-align: center;
    padding-top: 60px;
    font-family: "Roboto-Medium";
    button {
      margin-left: 6px;
      padding: 13px 21px;
      font-size: 14px;
      color: $dark;
      background-color: #fff;
      border: none;
      cursor: pointer;
      &.mixitup-control-active {
        background-color: $red;
        color: #fff;
      }
    }
  }
  &-cards {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.cards__item {
  display: inline-block;
  background-color: #fff;
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 32px 17px;
    font-family: "Roboto-Medium";
    border-bottom: 1px solid $brd-gray;
    &-name {
      max-width: 300px;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 32px 21px;
  }
  &-author {
    display: flex;
    align-items: center;
    font-family: "Roboto-Medium";
    font-size: 14px;
    color: $nickname-color;
    max-width: 245px;
    flex-wrap: wrap;
    img {
      width: 30px;
      height: 30px;
      margin-right: 13px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 105px;
    font-size: 12px;
    color: $text;
    span {
      font-size: 12px;
      color: $dark;
    }
  }
}

.item-content__title {
  display: block;
  font-family: "Roboto-Medium";
  color: $dark;
  font-size: 18px;
}
.item-content__prise {
  font-family: "Roboto-Bold";
  font-size: 20px;
  color: $dark;
}
.item-content__category {
  display: block;
  padding-top: 11px;
  font-size: 14px;
  color: $green;
}

.products__load-btn {
  padding-top: 48px;
  padding-bottom: 110px;
  text-align: center;
  button {
    padding: 20px 30px;
    color: $dark;
    font-size: 16px;
    background-color: #fff;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
}

.products-slider {
  padding-top: 123px;
  padding-bottom: 121px;
  min-width: 442px;
  &__inner {
    padding: 55px 15px 0 15px;
  }

  &__item {
    width: 442px;
    border: 1px solid #e3e3e3;
    .cards__item-content {
      border: none;
    }
  }
}

.slick {
  &-slide {
    margin: 0 15px;
  }
  &-list {
    margin-left: -30px;
    margin-right: -30px;
  }

  &-dots {
    padding-top: 67px;
    display: flex;
    justify-content: center;
    & button {
      cursor: pointer;
      border: none;
      font-size: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-left: 7px;
      box-shadow: 0px 3px 3px -3px rgba(34, 60, 80, 0.6) inset;
    }
  }
  &-item {
    max-width: 442px;
  }
  &-active button {
    background-color: $green;
  }
}

.benefits {
  background-color: $dark;
  &__title {
    color: #fff;
    padding-top: 124px;
  }
  &__inner {
    padding: 83px 23px 118px 23px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 319px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &:hover {
      .benefits__item-img {
        background-color: $green;
      }
      .benefits__item-title {
        color: $green;
      }
      svg {
        fill: #fff;
        transition: all 0.5s;
      }
    }
    &-img {
      transition: all 0.5s;
      width: 113px;
      height: 113px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 20px;
    }
    &-title {
      transition: all 0.5s;
      padding-top: 33px;
      font-size: 24px;
      color: #fff;
      font-family: "Roboto-Medium";
    }
    &-text {
      padding-top: 26px;
      font-size: 15px;
      color: $text;
    }
  }
}

.heart-icon {
  padding: 10px 10px;
}

.author {
  min-height: 760px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 650px;
    min-height: 216px;
    width: 100%;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
      margin-right: 45px;
      max-width: 260px;
      color: #fff;
      line-height: 36px;
      font-size: 30px;
      span {
        font-family: "Roboto-Bold";
      }
    }
    &-link {
      font-size: 18px;
      color: $dark;
      background-color: #fff;
      padding: 20px 40px;
    }
  }
}

.tutorial {
  padding: 66px 0 120px;
  &__inner {
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    background-color: $tut-itemBg;
    &-images {
      height: 270px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-title {
      text-align: center;
      padding: 38px 65px;
      font-size: 24px;
      font-family: "Roboto-Bold";
      color: $dark;
    }
  }
}

.footer {
  background-color: $dark;
  color: $text;
  font-size: 15px;
  &__inner {
    padding: 115px 0 100px 0;
    display: flex;
    justify-content: space-between;
  }

  &__col {
    max-width: 265px;
    width: 100%;
    &-text {
      padding-bottom: 36px;
    }
    &-title {
      font-family: "Raleway-Bold", sans-serif;
      font-size: 22px;
      color: #fff;
      padding-bottom: 55px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        top: 50px;
        left: 0;
        background-color: $green;
      }
    }
    &-link {
      margin-bottom: 15px;
      padding-left: 25px;
    }
    &-link {
      position: relative;
      &::before {
        content: "\f105";
        position: absolute;
        font-family: "icomoon";
        left: 0px;
        font-size: 18px;
        color: $green;
      }
    }
    &-social {
      margin-bottom: 40px;
      li {
        display: inline-block;
        margin-left: 7px;
        & a {
          background-image: url(../images/content/social_sprites.png);
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  &__links {
    max-width: 220px;
  }
  &__contacts {
    font-family: "Lato-Semibold", sans-serif;
    font-size: 14px;
    color: #fff;
    padding-left: 30px;
    position: relative;
    &::before {
      content: "\f041";
      position: absolute;
      font-family: "icomoon";
      left: 0px;
      font-size: 18px;
      color: $green;
    }
    &-phone {
      padding-top: 27px;
      &::before {
        content: "\f095";
        position: absolute;
        font-family: "icomoon";
        left: 0px;
        font-size: 18px;
        color: $green;
      }
    }
  }

  &__copy {
    border-top: 1px solid $footer-line;
    text-align: center;
    &-text {
      color: $copy;
      font-size: 15px;
      padding: 30px 0;
    }
  }
  &__form {
    & form {
      position: relative;
    }
    &-title {
      font-size: 20px;
      color: #fff;
      padding-bottom: 18px;
    }
    input {
      position: absolute;
      width: 100%;
      height: 40px;
      background-color: $input-dark;
      border-bottom: none;
      color: #fff;
      padding-left: 15px;
      padding-right: 55px;
      display: block;

      &::placeholder {
        color: $input-plh;
        padding-left: 16px;
      }
    }
    button {
      position: absolute;
      width: 43px;
      height: 40px;
      background-color: $green;
      border: none;
      right: 0;
      &::before {
        font-family: "icomoon";
        content: "\f124";
        font-size: 20px;
        position: absolute;
        left: 12px;
        top: 10px;
        color: #fff;
      }
    }
  }
}

.facebook-link {
  background-position: -10px -10px;
}
.twitter-link {
  background-position: -58px -10px;
}
.youtube-link {
  background-position: -10px -58px;
}
.pinterest-link {
  background-position: -58px -58px;
}
.linkedin-link {
  background-position: -106px -10px;
}
